@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(220, 15%, 55%);
  display: flex;
  place-items: center;
  width: 1440px;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif;
}

.qr-container {
  background: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  height: auto;
  margin: auto;
}

h3 {
  text-align: center;
  color: hsl(218, 44%, 22%);
  margin: 5px 0px;
}

p {
  text-align: center;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}

.qr-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}



/* Media Query  */